# Node modules
node_modules/

# Build output
output/

# TypeScript cache
*.tsbuildinfo

# Build Logs
npm-debug.log*

# IDE files
.vscode/

# Misc
.DS_Store
*.log

# Player Source
src/
src/season-1/portal-exploration/main.mts
